*
{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root
{
    --button-color: #FF4820;
    --linear-background: linear-gradient(97deg,  rgba(174,103,250,1)29%,  rgba(244,152,103,1)100%);
    --p-color: rgb(105, 157, 182);
    --pad-360: 2rem 2rem;
}

.background
{
    background: linear-gradient(97deg, rgba(244,152,103,1) 0%, rgba(174,103,250,1) 76%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.app
{
    background: linear-gradient(97deg, rgba(0,40,83,1) 10%, rgba(4,12,24,1) 80%);
    font-family: Manrope;
}

.section__padding
{
    padding: 2rem 8rem;
}

.body
{
    overflow-x: hidden;
}